p{
    color: rgb(152, 11, 170);
}
h2 span.hoofd1 {
    color: rgb(223, 34, 9);
}
h2 span.hoofd2 {
    color: rgb(30, 34, 224);
}
h2 span.hoofd3 {
    color: rgb(35, 214, 19);
}
body {
    background-color: rgb(15, 190, 153);
  }
  #first{
    color: red
}
p span.second{
    background-color: grey;
    color: white
    
}
p span.third{
    color: blue
}